#componenteLeft{
    display:flex;
    align-content:center;
    justify-content:space-between;
    height:20rem;
    width:100%;
    margin-bottom: 2rem;
}


@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  
 
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }


  #carousel__slide1_evt{
    background-image: url(../../../../assets/img/eventos/evento1.jpg);  
    background-repeat: no-repeat; 
  }
  #carousel__slide2_evt{
    background-image: url(../../../../assets/img/eventos/evento7.jpg);
    background-repeat: no-repeat;
  }
  #carousel__slide3_evt{
    background-image: url(../../../../assets/img/eventos/evento5.jpg);
    background-repeat: no-repeat;
  }
  #carousel__slide4_evt{
    background-image: url(../../../../assets/img/eventos/evento2.jpg);
    background-repeat: no-repeat;
  }

  #carousel__slide1_room{
    background-image: url(../../../../assets/img/quartos/quarto2.jpg);  
    background-repeat: no-repeat;   
  }
  #carousel__slide2_room{
    background-image: url(../../../../assets/img/quartos/quarto4.jpg);
    background-repeat: no-repeat;
  }
  #carousel__slide3_room{
    background-image: url(../../../../assets/img/quartos/quarto1.jpg);
    background-repeat: no-repeat;
  }
  #carousel__slide4_room{
    background-image: url(../../../../assets/img/quartos/quarto5.jpg);
    background-repeat: no-repeat;
  }
 
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center; 
  }

    @media(max-width: 800px) { 

    #componenteLeft{
      display: flex;
      flex-direction: column;
      height: 40rem;
      margin-bottom: 4rem;
  }

.carousel { 
  height: 80%;
  width: 60%;
  align-self: center;
  text-align: center; 
}


#texto{
  height:20%;  
  width: 70%; 
  align-self: center;
  text-align: center;
}
}


@media(max-width: 600px) { 

  #componenteLeft{
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
}

.carousel { 
height: 80%;
width: 50%;
align-self: center;
text-align: center; 
}


#texto{
height:20%;  
width: 70%; 
align-self: center;
text-align: center;
}
}
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  
 
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events:none;
  }
 