footer {
    display: flex;
    align-items: center;
    
    background-color: gray;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    
}

.footerContent button {
    width: 200px;
    height: 50px;
    align-self: center;
}

.footerContent ul {
    list-style: none;
}

.footerContent ul li:first-child {
    font-size: 1.563rem;
    margin-bottom: 1.25rem;
}

.footerContent ul li:not(li:first-child, li:last-child) {
    font-size: 0.875rem;
    margin-bottom: 0.563rem;
}

.footerContent {
    max-width: 1050px;
    width: 67.5%;
    margin: 0 auto;
}

.divBar{
    width: 4px;
    margin: 0 1rem;
    background-color: black;
    border: 1px solid black;
}

@media (max-width: 1024px){
    
    .footerContent{
        flex-direction: column;
        align-items: center;

        width: 100%;
        text-align: center;
    }

    .footerContent ul:last-child {
        margin-bottom: 1.875rem;
    }

    .footerContent button {
        margin-top: 1.875rem;
    }

    .divBar {
        width: 70%;
        margin: 1.875rem 0;
    }
}