#componenteCentro{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    height:30rem;
    width:100%;
    margin-bottom: 3rem;
}
.carouselCentro { 
    filter: drop-shadow(0 0 10px #0003);
    perspective: 1px;
    height:100%;
    width:90%;
    
  } 

#textoCentro{
    height:30%; 
    width:70%; 
    text-align: center;
    
}

hr{
    
  height: 1px;
  background-image: linear-gradient(to right,rgb(255, 255, 255), rgba(0, 0, 0, 0.75), rgb(255, 255, 255));
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  
 
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }

  #carousel__slide1{
    background-image: url(https://unsplash.it/1600/400?image=950);  
    background-repeat: no-repeat;   
  }
  #carousel__slide2{
    background-image: url(https://unsplash.it/1600/400?image=930);
    background-repeat: no-repeat;
  }
  #carousel__slide3{
    background-image: url(https://unsplash.it/1600/400?image=940);
    background-repeat: no-repeat;
  }
  #carousel__slide4{
    background-image: url(https://unsplash.it/1600/400?image=980);
    background-repeat: no-repeat;
  }
 
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

    /* @media(max-width: 800px) { 

    #componenteLeft{
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
  }

.carousel { 
  height: 80%;
  width: 90%;
  align-self: center;
  text-align: center;
}


#texto{
  height:20%;  
  width: 70%; 
  align-self: center;
  text-align: center;
}
} */
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  
 
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events:none;
  }
 