#componenteCentro{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    height:40rem;
    width:100%;
    margin-bottom: 3rem;
}


#canva{
position: relative;
width: 100%;
height: 0;
padding-top: 56.2500%;
padding-bottom: 48px;
box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
margin-top: 1.6em;
margin-bottom: 0.9em;
overflow: hidden;
border-radius: 5px;
will-change: transform;
}

#iframe{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
border: none;
padding: 0;
margin: 0;
}

#textoCentro{
    height:30%; 
    width:70%; 
    text-align: center;
    
}

hr{
    
  height: 1px;
  background-image: linear-gradient(to right,rgb(255, 255, 255), rgba(0, 0, 0, 0.75), rgb(255, 255, 255));
}